<?xml version="1.0" encoding="UTF-8"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Quick View
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="addQuickViewHref" type="Boolfly\QuickView\Plugin\Catalog\Block\ProductPlugin"/>
    </type>
    <type name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="addQuickViewHref" type="Boolfly\QuickView\Plugin\Catalog\Block\ProductPlugin"/>
    </type>
</config>
